* {
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 50%;
    margin: auto;
}

.result {
    margin: 5rem;
    width: 20rem;
    height: 50vh;
    text-align: center;
    background-color: rgb(97, 46, 237);
    border-radius: 2rem;
    /* padding: 2rem; */
}

.result h3{
    padding: 2rem 0;
    color: lightgrey;
    margin: auto;
}

.marks {
    width: 11rem;
    height: 11rem;
    margin: auto;
    border-radius: 50%;
    background-color: hsla(256, 72%, 46%, 1);
    padding-top: 1.75rem;
    color: lightgray;
}

.marks span{
    color: white;
    font-weight: bolder;
    font-size: 380%;
    /* margin: auto; */
    padding: 0 3.2rem;
}

.great h2 {
    padding: 2.5rem 0 1rem;
    color: white;
}

.great p {
    padding: 0 3.5rem;
    color: lightgrey;
    font-size: medium;
}