body{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-button {
    border-radius: 0.5rem;
}

.logo {
    font-weight: bolder;
    font-size: xx-large;
    margin-right: 1.25rem;
}

.navbar-logo > ul {
    display: flex;
    list-style: none;
}

li{
    margin: 1rem;
    color: #808080;
}

.login {
    margin: 1rem;
}

.login > button {
    margin: .5rem;
}